.customButton{
    background: linear-gradient(135deg, #17D2BE 60%, #11D0DF);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 4px;
    transition: 0.4s;
    border: 2px solid transparent;
}
.simplecolor{
    color:#3A4256;
}
.rdp-day_selected:not([aria-disabled='true']), .rdp-day_selected:focus:not([aria-disabled='true']), .rdp-day_selected:active:not([aria-disabled='true']), .rdp-day_selected:hover:not([aria-disabled='true']) {
    color: white;
    background-color:#12D0DB!important;
    border: none!important;
}